* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #EAE0CC;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s ease
}

a:hover {
    transform: scale(1.05);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    font-family: 'Montserrat';
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #EAE0CC;
    color: #4D6A6D;
    padding-right: 70px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 15px;
    font-weight: bold;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-buttons button {
    border-radius: 5px;
    background-color: #4D6A6D;
    color: #EAE0CC;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-buttons button:hover {
    background-color: #798478;
}

.header-profile {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    padding-right: 10px;
}

.header-profile p {
    display: inline-block;
}

.header-welcome {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-top: 5px;
}

.header-welcome img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.header-welcome-text {
    display: inline-block;
}

.header-welcome-small {
    font-size: 12px;
}

.header-welcome-large {
    font-size: 18px;
}

.header-search {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.header-search button {
    border: none;
    background-color: #EAE0CC;
    align-self: flex-end;
}

form {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}

#search-bar {
    border: none;
    border-radius: 15px;
    padding: 5px 12px;
    line-height: 5px;
    background-color: #C9ADA1;
    color: #4D6A6D;
    width: 95%;
}

#search-bar:focus {
    outline: none;
}

.sidebar {
    display: grid;
    grid-row: 1 / -1;
    align-content: start;
    gap: 40px;
    font-family: 'Montserrat';
    background-color: #4D6A6D;
    color: #EAE0CC;
}

.main-content {
    grid-row: 2 / -1;
    background-color: #C9ADA1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding: 35px;
}

.left-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 8fr 8fr 8fr;
}

.main-content-header-text {
    grid-column: 1 / 3;
    color: #4D6A6D;
    font-weight: bold;
}

.right-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 12fr 1fr 12fr;
}

.card {
    background-color: #EAE0CC;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border-left: 12px solid #4D6A6D;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.card-list li {
    padding: 10px 0;
}

.card-list li:not(:last-child) {
    border-bottom: 1px solid #4D6A6D; 
}

.right {
    padding: 30px;
    border: none;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.trending-item {
    display: flex;
    gap: 12px;
}

.trending-item-text {
    display: flex;
    gap: 3px;
    flex-direction: column;
}

.card-text-header {
    font-size: 16px;
    font-weight: bolder;
    color: #4D6A6D;
}

.card-text-desc {
    font-size: 14px;
    color: #798478;
    font-weight: bold;
}

.card-icons {
    margin-top: auto;
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-top: 16px;
    cursor: default;
}

.logo-img {
    width: 50px;
    height: 50px;
    padding-left: 7px;
}

.sidebar-icon {
    width: 16px;
    height: 16px;
    padding-left: 23px;
}

.sidebar-text {
    display: inline-block;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease
}

.icon:hover {
    transform: scale(1.1);
}