* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #EAE0CC;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s ease
}

a:hover {
    transform: scale(1.05);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    font-family: 'Montserrat';
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #EAE0CC;
    color: #4D6A6D;
    padding-right: 70px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 15px;
    font-weight: bold;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-buttons button {
    border-radius: 5px;
    background-color: #4D6A6D;
    color: #EAE0CC;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-buttons button:hover {
    background-color: #798478;
}

.header-profile {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    padding-right: 10px;
}

.header-profile p {
    display: inline-block;
}

.header-welcome {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header-welcome img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.header-welcome-text {
    display: inline-block;
}

.header-welcome-small {
    font-size: 12px;
}

.header-welcome-large {
    font-size: 18px;
}

.sidebar {
    display: grid;
    grid-row: 1 / -1;
    align-content: start;
    gap: 40px;
    font-family: 'Montserrat';
    background-color: #4D6A6D;
    color: #EAE0CC;
}

.main-content {
    grid-row: 2 / -1;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-top: 16px;
    cursor: default;
}

.logo-img {
    width: 50px;
    height: 50px;
    padding-left: 7px;
}

.sidebar-icon {
    width: 16px;
    height: 16px;
    padding-left: 23px;
}

.sidebar-text {
    display: inline-block;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease
}

.icon:hover {
    transform: scale(1.1);
}